<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885100442553-nfpeg3vt4qn405lda266a6sari1m3jcu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885100442553-nfpeg3vt4qn405lda266a6sari1m3jcu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>885100442553-jg1dbuima9o33bpbrki5fskft1b6p5ea.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBx1WQwL6yPtrqt3HLNE0k9ZQzI8Y9lzBg</string>
	<key>GCM_SENDER_ID</key>
	<string>885100442553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokClone</string>
	<key>PROJECT_ID</key>
	<string>tiktok-devgony</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-devgony.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885100442553:ios:bf49a254ce6e4426bebc68</string>
</dict>
</plist>